# 핵심 라이브러리
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

# 챗봇 서비스 구현
streamlit
chainlit

# PDF 처리
pymupdf

# LLM / 임베딩
transformers
sentence-transformers

# 서버
fastapi
uvicorn

# 인텔 GPU 가속 (선택)
openvino-dev
openvino-telemetry
openvino-genai
optimum[openvino,nncf]